@import url("https://fonts.googleapis.com/css2?family=Mada:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Mada", sans-serif;
}

body {
  width: 100%;
  height: 250rem;
  text-decoration: none;
  background-color: black;
}

header {
  height: 5rem;
  width: 100%;
  position: fixed;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
}

nav h3 {
  color: white;
  font-weight: 600;
  margin-right: 14rem;
}
.navbar a {
  margin-left: 2rem;
  color: white;
}

.navbar button {
  margin-left: 2rem;
  background-color: white;
  font-weight: 600;
  padding: 9px 12px 9px 12px;
  border-radius: 12px;
  border: 2cm;
}

.slide1 {
  width: 100%;
  height: 100vh;
}

.slide1 img {
  margin: 7rem 0 0 3rem;
  align-items: center;
}

.slide1 h1 {
  color: antiquewhite;
  position: relative;
  text-align: center;
  width: 25rem;
  font-size: 3rem;
  margin-left: 18rem;
  margin-top: -23rem;
}

.slide1 p {
  top: 2rem;
  left: 18rem;
  position: relative;
  text-align: center;
  color: white;
  text-align: center;
  font-weight: 200;
  width: 25rem;
}

.button1-slide1 {
  width: 16rem;
  height: 3rem;
  position: relative;
  background-color: white;
  top: 6rem;
  left: 23rem;
  padding-top: 1rem;
  border-radius: 10px;
}

/* BAR 1 SLIDE 1 */
.button1-slide1 button {
  margin-left: 1rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 7px 23px 7px 23px;
  border: none;
  margin-top: -1rem;
}
.button1-slide1 a {
  justify-content: center;
  padding-left: 2rem;
  color: black;
  margin-top: -1rem;
}

/* BAR 2 SLIDE 1 */
.button2-slide1 {
  height: 5rem;
  width: 45rem;
  background-color: white;
  border-radius: 1rem;
  position: absolute;
  margin-top: 5rem;
  margin-left: 9rem;
}

.bar1-slide1 {
  width: 8rem;
  margin-top: 15px;
  margin-left: 1rem;
  padding-right: 1.1rem;
  border-right: 1px solid grey;
}

.bar1-slide1 label {
  font-weight: 600;
}

.bar1-slide1 select {
  border: none;
}

.bar2-slide1 {
  width: 7rem;
  margin-top: -43px;
  margin-left: 12.5rem;
  padding-right: 3.9rem;
  border-right: 1px solid grey;
}

.bar2-slide1 label {
  font-weight: 600;
}

.bar2-slide1 select {
  border: none;
  width: 10rem;
}

.bar3-slide1 {
  width: 7rem;
  margin-top: -43px;
  margin-left: 25rem;
  padding-right: 2rem;
}

.bar3-slide1 label {
  font-weight: 600;
}

.bar3-slide1 select {
  border: none;
  width: 7rem;
}

.button2-slide1 button {
  position: absolute;
  margin-left: 37rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 15px 30px 15px 30px;
  border: none;
  margin-top: -2.4rem;
}

/* SLIDE 2 */

.slide2 {
  width: 100%;
  height: 100vh;
}

.slide2 img {
  width: 350px;
  margin-left: 3rem;
}

.wrapper-teks1teks2 {
  margin-top: 10rem;
}

.wrapper-img {
  margin-top: 5rem;
}
.teks1-slide2 {
  color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.wrapper-desc {
  height: 200px;
  display: flex;
  flex-direction: column;
}

.wrapper-desc p {
  width: 30rem;
}

.teks2-slide2 {
  display: flex;
  height: 10rem;
  align-items: flex-start;
  gap: 6rem;
}

.teks2-wrapper1 {
  width: 2rem;
}

.teks2-wrapper2 {
  width: 2rem;
}

.teks2-wrapper3 {
  width: 2rem;
}

/* SLIDE 3 NAV */

.slide3 {
  width: 100%;
  height: 100vh;
}

.slide3-h1button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
}

.slide3-h1button h1 {
  width: 15rem;
  height: 4rem;
  margin: 1rem 3rem;
  color: white;
}

.slide3-wrapperbutton {
  display: flex;
  justify-content: space-around;
  gap: 0.6rem;
  margin: 3rem;
}
.slide3-button1 {
  background-color: black;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1.3rem;
  border: 1px solid white;
}
.slide3-button2 {
  padding: 15px 20px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  padding: 1.3rem;
  border-radius: 5px;
  border: none;
}

/* SLIDE 3 GAMBAR */
.slide3-wrapperimg1 {
  width: 30rem;
  height: 30rem;
  margin-left: 3rem;
  background-image: url(img/slide3-bg1.png);
  background-size: cover;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.slide3-teks1 {
  width: fit-content;
  height: 4rem;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 11rem;
}

.slide3-wrapperh4p1 {
  margin-left: 1rem;
}

.slide3-button3 {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.slide3-teks1 p {
  font-weight: 100;
  font-size: small;
}

.slide3-wrapperimg0 {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 2rem;
}

.slide3-wrapperimg12 {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 1rem;
}

.slide3-wrapperimg2 {
  width: 25rem;
  height: 14.5rem;
  background-image: url(img/slide3-bg2.png);
  background-size: cover;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.slide3-teks2 {
  width: fit-content;
  height: 3.5rem;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.slide3-wrapperh4p2 {
  margin-left: 1rem;
}
.slide3-button4 {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.slide3-wrapperimg3 {
  width: 25rem;
  height: 14.5rem;
  background-image: url(img/slide3-bg3.png);
  background-size: cover;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.slide3-teks3 {
  width: fit-content;
  height: 3.5rem;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.slide3-wrapperh4p3 {
  margin-left: 1rem;
}
.slide3-button5 {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.slide4 {
  height: 100vh;
  width: 100%;
}

.slide4-desc {
  color: white;
  height: 8rem;
  width: 18rem;
  margin-left: 3rem;
}

.slide4-img {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-left: 4rem;
}

.slide4-img1 {
  width: 40rem;
  height: 28rem;
  background-image: url(img/slide4bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: start;
  color: white;
}

.slide4-wrapperimg1 {
  margin: 1rem;
}
.slide4-wrapperimg1 h1 {
  font-size: 23px;
}

.slide4-img2 {
  width: 40rem;
  height: 28rem;
  background-image: url(img/slide4bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.slide4-img3 {
  width: 40rem;
  height: 28rem;
  background-image: url(img/slide4bg3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.slide4-img4 {
  width: 15rem;
  height: 28rem;
  background-image: url(img/slide4bg4.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.slide5 {
  width: 100%;
  height: 100vh;
  background-image: url(img/slide5-bg1.png);
  background-size: 60rem;
  background-position: center;
  background-repeat: no-repeat;
}

.slide5-wrapperh11 h1 {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  font-size: 40px;
  color: white;
}

.slide5-idloc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
  color: white;
}

.slide5-wrapperp {
  width: 28rem;
  height: 8rem;
  display: flex;
  margin-left: 18rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.slide6 {
  width: 100%;
  height: 50vh;
  display: flex;
  padding-top: 4rem;
  justify-content: center;
}

.slide6-hero {
  width: 50rem;
  height: 13rem;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  padding-top: 2rem;
}

.slide6-wrapperp1 {
  width: 25rem;
  text-align: center;
}

.slide6-herobutton {
  margin-top: 3rem;
  background-color: black;
  color: white;
  border: 20;
  border-radius: 10px;
  display: flex;
  padding: 0.5rem;
  gap: 9rem;
  display: flex;
  align-items: center;
}

.slide6-button {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 7px 23px 7px 23px;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer ul li {
  list-style: none;
  margin-bottom: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.footer a {
  color: white;
}

.footer h1 {
  color: white;
  margin-bottom: 0.5rem;
}
/* ANDROID MEDIA QUERY */

@media (max-width: 767px) {
  
  header {
    height: 4rem;
    width: fit-content;
  }

  nav {
    padding-top: 1rem;
  }

  nav h3 {
    font-size: 15px;
    margin-right: 1rem;
  }
  .navbar a {
    margin-left: 10px;
    font-size:10px;
  }

  .navbar button {
    margin-left: 2px;
    font-size: 10px;
    padding: 5px 9px 5px 9px;
  }
  /* SLIDE 1 */
  
  .slide1 img {
    margin: 5rem 0 0 0rem;
    width: 25rem;
  }
  
  .slide1 h1 {
    width: 200px;
    background-color: aqua;
    font-size: 20px;
    margin-left: 7rem;
    margin-top: -15rem;
  }
  
  .slide1 p {
    top: 2rem;
    left: 18rem;
    position: relative;
    text-align: center;
    color: white;
    text-align: center;
    font-weight: 200;
    width: 25rem;
  }
  
  .button1-slide1 {
    width: rem;
    height: 3rem;
    position: relative;
    background-color: white;
    top: 6rem;
    left: 23rem;
    padding-top: 1rem;
    border-radius: 10px;
  }
  
  /* BAR 1 SLIDE 1 */
  .button1-slide1 button {
    margin-left: 1rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 7px 23px 7px 23px;
    border: none;
    margin-top: -1rem;
  }
  .button1-slide1 a {
    justify-content: center;
    padding-left: 2rem;
    color: black;
    margin-top: -1rem;
  }
  
  /* BAR 2 SLIDE 1 */
  .button2-slide1 {
    height: 5rem;
    width: 10rem;
    background-color: white;
    border-radius: 1rem;
    position: absolute;
    margin-top: 5rem;
    margin-left: 9rem;
  }
  
  .bar1-slide1 {
    width: 8rem;
    margin-top: 15px;
    margin-left: 1rem;
    padding-right: 1.1rem;
    border-right: 1px solid grey;
  }
  
  .bar1-slide1 label {
    font-weight: 600;
  }
  
  .bar1-slide1 select {
    border: none;
  }
  
  .bar2-slide1 {
    width: 7rem;
    margin-top: -43px;
    margin-left: 12.5rem;
    padding-right: 3.9rem;
    border-right: 1px solid grey;
  }
  
  .bar2-slide1 label {
    font-weight: 600;
  }
  
  .bar2-slide1 select {
    border: none;
    width: 10rem;
  }
  
  .bar3-slide1 {
    width: 7rem;
    margin-top: -43px;
    margin-left: 25rem;
    padding-right: 2rem;
  }
  
  .bar3-slide1 label {
    font-weight: 600;
  }
  
  .bar3-slide1 select {
    border: none;
    width: 7rem;
  }
  
  .button2-slide1 button {
    position: absolute;
    margin-left: 37rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    border: none;
    margin-top: -2.4rem;
  }
}
